<footer id="3" class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">  
      <p> <a href="mailto:inxicode@gmail.com"> inxicode@gmail.com </a></p>

      Copyright by inxicode ©
      <script>
          document.write(new Date().getFullYear())
      </script>

    </div>

</footer>