<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/meta') %>
</head>
<body>
    <%- include('./partials/header2') %>
    <h1>inxicode software</h1>
<main>
    <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
          <div class="row">
          
            <div class="col">
              
              <P>
              Somos una empresa dedicada a las soluciones a medida de acuerdo a los distintos requerimientos de nuestros clientes. En nuestras áreas de desarrollo nos enfocamos en dar soluciones a estos requrimientos de la manera más eficiente posible. No dude en ponerse en contacto con nosotros.
              </P>
            </div>
          
            <div class="col">
              <img class="img-fluid d-none d-sm-block" src="img/undraw_programming_2svr.svg" alt="vectorial_programando">
            </div>
          </div>
        </div>
      </section>
</main>
    <%- include('./partials/footer') %>

</body>
</html>