<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header2') %>
    <h1>Blockchain</h1>
    <main>
        <section class="p-4">
            <div class="container">
              <div class="row text-center">
                <div id="2" class="col-md">
                  <div class="card"> 
                    
                    <h5 class="card-title">Tecnología blockchain y criptocurrency</h5>
                    <div class="card-body">
                      <p class="card-text">La cadena de bloques, más conocida por el término en inglés blockchain, es un registro único, consensuado y distribuido en varios nodos de una red. 

                        La tecnología de blockchain nos permite almacenar información que jamás se podrá perder, modificar o eliminar
                        
                        En el caso de las criptomonedas, podemos pensarlo como el libro contable donde se registra cada una de las transacciones.
                        
                        Básicamente, cualquier tipo de información que necesite ser preservada de forma intacta y que deba permanecer disponible puede ser almacenada en blockchain de manera segura, descentralizada y más económica que a través de intermediarios. Además, si esa información se guarda cifrada se puede garantizar su confidencialidad, ya que solo quien cuente con la llave de cifrado pueda acceder a ella.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="card">
                    <img src="img/undraw_bitcoin2_ave7.svg" class="card-img-top" alt="imagen 4">
                   
                    <div class="card-body">
                      <p class="card-text"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </main>
        <%- include('../partials/footer') %>
</body>
</html>