<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header2') %>
    <h1>Fullstack</h1>
    <main>
        <section class="p-4">
            <div class="container">
              <div class="row text-center">
                <div id="1" class="col-md">
                  <div class="card"> 
                    <img src="img/undraw_react_y7wq.svg" class="card-img-top" alt="imagen 1">
                    <h5 class="card-title">Front End</h5>
                    <div class="card-body">
                      <p class="card-text">En INXICODE creamos Páginas Web a la medida de nuestros clientes, Nos enfocamos en la Maquetación, Programación, SEO, Diseño UI/UX y Seguridad, para desarrollar una página web con la imagen profesional y actual que necesita. Usamos las últimas tendencias y tecnologías en el diseño de páginas Web.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="card">
                    <img src="img/undraw_server_cluster_jwwq.svg" class="card-img-top" alt="imagen 2">
                    <h5 id="class="card-title">Back End</h5>
                    <div class="card-body">
                      <p class="card-text">El motor detrás de sus aplicaciones web y móviles, las cuales requieren un backend del lado del servidor para procesar y administrar datos. El backend actúa como una columna vertebral que conecta varias partes críticas de una aplicación. Lo más importante en el desarrollo del backend son la seguridad, la precisión, la redundancia y, por supuesto, el rendimiento. En INXICODE ofrecemos soluciones en el desarrollo de backend, lo que garantiza que su base se mantenga sólida, incluso cuando se escala rápidamente.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
          
    </main>
        <%- include('../partials/footer') %>
</body>
</html>