<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header2') %>
    <h1>GIS</h1>
    <main>
        <section class="p-4">
            <div class="container">
              <div class="row text-center">
                <div id="2" class="col-md">
                  <div class="card"> 
                    <img src="img/undraw_Map_dark_re_36sy.svg" class="card-img-top" alt="imagen 3">
                    
                  </div>
                </div>
                <div class="col-md">
                  <div class="card">
                    
                    <h5 class="card-title">Sistemas de información geográfica</h5>
                    <div class="card-body">
                      <p class="card-text">En INXICODE nos especializamos en el uso de la tecnología GIS (Geographical Information System) que puede ser utilizada para investigaciones científicas, la gestión de los recursos, la gestión de activos, la arqueología, la evaluación del impacto ambiental, la planificación urbana, la cartografía, la sociología, la geografía histórica, el marketing, la logística por nombrar unos pocos.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        

    
    </main>
        <%- include('../partials/footer') %>
</body>
</html>